$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRl_yMKi4IyLX3ANJphdiOlWJBA_xOhD-otQjPEGhS2RGktlHfD)
}

.cardBack {
  size: .5em;
}




